
include ../../common/ui/appHeaderDetails/appHeaderDetails.pug
include ../../common/ui/popupPage/popupPage.pug


mixin PrizesWinnersPage()
  +popupPage()(class="prizesWinnersPage")
    main.main.prizesWinners-main
      +appHeaderDetails({title: 'Private Sector Projects', closeClass: 'prizesWinnersClose'})(class="prizesWinners__header")
      
      .container-prizesWinners
          



