@import "../../common/styles/constants.css";
@import "../../common/styles/animation.css";

.header {
  background-color: var(--color-yellow-xl);

  .header__close-button {
    background-color: var(--color-yellow-l);
  }
}


.engagementScience-container {
  display: flex;
  flex-direction: column;
  padding-top: 57px;
  margin-left: clamp(20px, 6.1rem, 61px);

  
}
