:root {
  --color-black: #000000;
  --color-orange: #f47d39;
  --color-blue: #569fd6;
  --color-yellow: #ffb455;

  --color-yellow-xl: #ffe4c1;
  --color-yellow-l: #ffcf90;

  --app-width: 1040px;
  
}
