@import "./fonts.css";
@import "./constants.css";
@import "./animation.css";
@import "../ui/appHeaderDetails/appHeaderDetails.css";
/* @import "../ui/sidebarVertical/sidebarVertical.css"; */
@import "../ui/sidebarHorizontal/sidebarHorizontal.css";
@import "../ui/twoValuesRow/twoValuesRow.css";
@import "../ui/chart_info_icons/chart_info_icons.css";
@import "../ui/genderBreakdown/genderBreakdown.css";
@import "../ui/card/card.css";
@import "../ui/labelWithColor/labelWithColor.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(1vw / 10.4 * 9);
  font-family: "Arabic";
  color: var(--color-black);
  height: 100vh;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-family: Arabic;
  font-weight: 600;
  font-size: clamp(20px, 2.4rem, 24px);
}
h2 {
  font-family: Arabic;
  font-weight: 600;
  font-size: 18px;
}

p {
  line-height: 19.6px;
}

.main {
  width: 100%;
  max-width: var(--app-width);
  background-color: white;
}

ul {
  list-style-type: none;
}

.large-num {
  font-size: 40px;
  color: var(--color-orange);
  font-weight: 700;
}
.big-num {
  font-size: 24px;
  color: var(--color-orange-l);
  font-weight: 700;
}
.middle-num {
  font-size: 18px;
  color: var(--color-blue);
  font-weight: 700;
}

.sidebar-vertical {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
}
.sidebar__img {
  margin-top: 60px;
  transition: all 1s ease-in-out;
}

.divider-horizontal {
  height: 1px;
  width: 100%;
  margin: 40px clamp(20px, 5rem, 50px);
}
.divider-vertical {
  height: 100%;
  border: 1px solid var(--color-grey-l);
  height: 566px;
  margin-top: 24px;
  margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
  .divider-vertical {
    height: 1px;
    width: 90%;
    max-width: 90vw;
    margin: 0 clamp(20px, 5rem, 50px);
  }
  .sidebar-vertical {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
  }
  .sidebar-vertical > img {
    margin: 40px 0;
  }
}

@media screen and (max-width: 576px) {
  h2 {
    text-align: center;
  }
}
