mixin barChartItem(options)
  -const {title, num, color, percent} = options || {};
  .bar-chart-item(class!= attributes.class) 
    .bar-chart-row 
      if(num)
        .num= num
      .title= title
    .bar-graph(style={background: color || "#FFB455", width: percent}, class="scaleX")
