include ../../common/ui/appPageLayout/appPageLayout.pug
include ../mathGrants/mathGrants.pug
include ../mathCuration/mathCuration.pug
include ../scienceGrants/scienceGrants.pug
include ../scienceCuration/scienceCuration.pug
include ../pilotProjects/pilotProjects.pug

+appPageLayout()
  +MathGrantPage()
  +MathCurationPage()
  +ScienceGrantPage()
  +ScienceCurationPage()
  +PilotProjectsPage()
  main.main 
    a.mock.toMathGrant(role= "button", href= '#') Math Grants
    a.mock.toMathCuration(role= "button", href= '#') Math Curation
    a.mock.toScienceGrant(role= "button", href= '#') Science Grants
    a.mock.toScienceCuration(role= "button", href= '#') Science Curation
    a.mock.toPilotProjects(role= "button", href= '#') Pilot Projects

