include ../../common/ui/appPageLayout/appPageLayout.pug
include ../mathGrants/mathGrants.pug

+appPageLayout()
  +MathGrantPage()
  main.main 
    a.mock.toMathGrant(role= "button", href= '#') Math Grants
    

