include ../../common/ui/appPageLayout/appPageLayout.pug
include ../mathGrants/mathGrants.pug
include ../mathCuration/mathCuration.pug
include ../scienceGrants/scienceGrants.pug
include ../scienceCuration/scienceCuration.pug
include ../engagementScience/engagementScience.pug
include ../researchGrants/researchGrants.pug
include ../policyGrants/policyGrants.pug
include ../researchCuration/researchCuration.pug
include ../researchNetworking/researchNetworking.pug
include ../innovationGrants/innovationGrants.pug
include ../prizesWinners/prizesWinners.pug
include ../kfasMedia/kfasMedia.pug
include ../pilotProjects/pilotProjects.pug
include ../assignedProjects/assignedProjects.pug
include ../researchCapacity/researchCapacity.pug
include ../privateSectorProjects/privateSectorProjects.pug
include ../innovationCurations/innovationCurations.pug
include ../organizationalProjects/organizationalProjects.pug

+appPageLayout()
  +MathGrantPage()
  +MathCurationPage()
  +ScienceGrantPage()
  +ScienceCurationPage()
  +EngagementSciencePage()
  +ResearchGrantsPage()
  +PolicyGrantPage()
  +ResearchCurationPage()
  +ResearchNetworkingPage()
  +InnovationGrantPage()
  +PrizesWinnersPage()
  +KfasMediaPage()
  +PilotProjectsPage()
  +AssignedProjectsPage()
  +ResearchCapacityPage()
  +PrivateSectorProjectsPage()
  +InnovationCurationsPage()
  +OrganizationalProjectsPage()


  main.main 
    .buttons-row 
      a.mock.toMathGrant(role= "button", href= '#') Math Grants
      a.mock.toMathCuration(role= "button", href= '#') Math Curation
      a.mock.toScienceGrant(role= "button", href= '#') Science Grants
      a.mock.toScienceCuration(role= "button", href= '#') Science Curation
      a.mock.toPilotProjects(role= "button", href= '#') Pilot Projects
      a.mock.toAssignedProjects(role= "button", href= '#') Assigned Projects
      a.mock.toPrivateSectorProjects(role= "button", href= '#') Private Sector Projects
      a.mock.toOrganizationalProjects(role= "button", href= '#') Organizational Projects
      a.mock.toInnovationGrant(role= "button", href= '#') Innovation grants
      a.mock.toPolicyGrant(role= "button", href= '#') Policy grants
      a.mock.toKfasMedia(role= "button", href= '#') KFAS Media
      a.mock.toEngagementScience(role= "button", href= '#') Engagement Science
      a.mock.toResearchGrants(role= "button", href= '#') Research Grants
      a.mock.toResearchCuration(role= "button", href= '#') Research Curation
      a.mock.toResearchNetworking(role= "button", href= '#') Research Networking
      a.mock.toResearchCapacity(role= "button", href= '#') Research Capacity
      a.mock.toInnovationCurations(role= "button", href= '#') Innovation Curations
      a.mock.toPrizeWinners(role= "button", href= '#') Prizes Winners

