@import "../../common/styles/constants.css";
@import "../../common/styles/animation.css";

.policyGrant__header {
  background-color: #D6EDFF;
  width: 800px;
  max-width: 100vw;
  
  .header__close-button {
    background-color: #B4DFFF;
  }
}

.container-policy-grants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content */
