include ../../common/ui/appHeaderDetails/appHeaderDetails.pug
include ../../common/ui/sidebarIconItem/sidebarIconItem.pug
include ../../common/ui/popupPage/popupPage.pug
include ../../common/ui/doubleValuesBar/doubleValuesBar.pug




mixin ResearchCapacityPage()
  +popupPage()(class="researchCapacityPage")
    main.main
      +appHeaderDetails({
        title: 'Research- Capacity Building Grants', 
        closeClass: 'researchCapacityClose'
        })(class="research-capacity-header")
      .container-research-capacity 
        //- .sidebar-vertical(class="sidebar-research-capacity")
        //-   +sidebarIconItem({
        //-     num: 12, 
        //-     title: 'Events',
        //-     color: '#EA5C3C', 
        //-     icon: 'folderStarOrange'
        //-     })(class="sidebar-horizontal-item moveToRight")
        //-   +sidebarIconItem({
        //-     num: 757, 
        //-     title: 'Beneficiaries',
        //-     color: '#EA5C3C', 
        //-     icon: 'persons'
        //-     })(class="sidebar-horizontal-item moveToRight")
        //-   +sidebarIconItem({
        //-     num: '64k', 
        //-     title: 'KD Amount Approved',
        //-     color: '#EA5C3C', 
        //-     icon: 'kdOrange'
        //-     })(class="sidebar-horizontal-item moveToRight")
        //- .divider-vertical

        .research-capacity-content
          h2 Capacity Building Program Applications
          .capacity-chart 
            .capacity-chart-description 
              span.capacity-description-item Scientific Missions
              span.capacity-description-item Scholarship & Bridging Programs
              span.capacity-description-item Training Grants
              span.capacity-description-item Supplementary Funds
            .chart-graph 
              +doubleValuesBar({val1: 86, val2: 29})(class="chart-item")
              +doubleValuesBar({val1: 35, val2: 5})(class="chart-item")
              +doubleValuesBar({val1: 6, val2: 4})(class="chart-item")
              +doubleValuesBar({val1: 3, val2: 2})(class="chart-item")





