
include ../../common/ui/appHeaderDetails/appHeaderDetails.pug
include ../../common/ui/popupPage/popupPage.pug

mixin OrganizationalAchivementsPage()
  +popupPage()(class="organizationalAchivementsPage")
    .container-organizationalAchivements
      +appHeaderDetails({
        title: 'Organizational Achievements', 
        closeClass: 'organizationalAchivementsClose'
        })(class="organizationalAchivements__header")
      .content-organizational-Achivements
        
