include ../../common/ui/popupPage/popupPage.pug
include ../../common/ui/appHeaderDetails/appHeaderDetails.pug
include ../../common/ui/labelWithColor/labelWithColor.pug
include ../../common/ui/genderChart/genderChart.pug
include ../../common/ui/twoValuesRow/twoValuesRow.pug


mixin InnovationGrantPage()
  +popupPage()(class="innovationGrantPage")
    main.main
      +appHeaderDetails({title: 'Innovation and Enterprise - Professional Certificate Grants', closeClass: 'innovationGrantClose'})
      .container-innovation-grant 
        .sidebar-vertical 
          img.sidebar__img.img-innovation-grant.moveToRight(src=require('../../assets/svg/innovationGrants/app.svg'))
          img.sidebar__img.img-innovation-grant.moveToRight(src=require('../../assets/svg/innovationGrants/grants.svg'))
          img.sidebar__img.img-innovation-grant.moveToRight(src=require('../../assets/svg/innovationGrants/amount.svg'))
        .divider-vertical 
        .innovation-grant-binefics 
          h2.binefics-title Beneficiaries
          .binefics-chart
            .binefics-chart-graph
              .chart-first-bar.bar.scaleX
                span.binefics-through
              .chart-second-bar.bar.scaleX
                span.binefics-individ
            .binefics-chart-info
              +labelWithColor({
                color: '#F47D39',
                text: 'Through their organiztion'
              })
              +labelWithColor({
                color: '#69AADB',
                text: 'Applied Individually (students, graduates, etc)'
              })(class="individ-label")

          h2.gender-title Gender Distribution
          .gender-row
            +genderChart({canvasId: "innovation-grants-gender-1"})
            .gender-col
              +twoValuesRow({val1: '63', val2: 112, isOrange: false})(class="inno-grant-value")
              +twoValuesRow({val1: '37', val2: 67, isOrange: true})(class="inno-grant-value")





