mixin appHeaderDetails(options)
  -const {title} = options || {};
  header.header 
    .header__content 
      h1.header__title= title
      a.header__close-button(role= "button" href="./index.html") 
        img(src=require('../../assets/svg/close.svg'))
