.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: var(--app-width);
}
.header__title {
  margin: 0 clamp(20px, 4rem, 40px);
}
.header__close-button {
  cursor: pointer;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__close-button:hover {
  opacity: .5;
}
