include ../../common/ui/appPageLayout/appPageLayout.pug
include ../../common/ui/appHeaderDetails/appHeaderDetails.pug

+appPageLayout()
  main.main 
    +appHeaderDetails({title: 'Math and Science Education - Grants'})