@import "../../common/styles/constants.css";
@import "../../common/styles/animation.css";

.scienceCuration__header {
  background-color: #FFE4C1;
  width: 994px;
}
.header__close-button {
  background-color: #FFCF90;
}

.container {
  display: flex;
}