@import "../../common/styles/constants.css";
@import "../../common/styles/animation.css";

header.research-curation-header {
  background-color: #ffe1d0;

  .header__close-button {
    background-color: #ffccaf;
  }
}

.container-researchCuration {
  width: var(--app-width);
  max-width: calc(100vw);
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  .sidebar-engagement-science {
    padding: 42px 0 0 0;
  }
  ul {
    font-size: 16px;
    line-height: 25.6px;
    transition: all 1s ease-in-out;
  }
  .sidebar-horizontal-item {
    width: 145px;
  }
  .sidebar-description-item:first-child {
    font-weight: 700;
    color: var(--color-blue);
  }

  .col-binefic {
    width: 100%;
    h2 {
      margin-bottom: 24px;
      text-align: center;
    }
    .chart-graph {
      width: 280px;
      height: 277px;
      position: relative;

      .chart-value {
        position: absolute;
        color: var(--color-white);
        font-size: 36px;
        font-weight: 600;
      }
      .orange {
        top: 20%;
        left: 40%;
      }
      .yellow {
        top: 75%;
        right: 40%;
        font-size: 24px;
      }
      .dark {
        bottom: 0%;
        left: 37%;
        font-size: 16px;
      }
      .light-blue {
        bottom: 0%;
        right: 5%;
        font-size: 16px;
        line-height: 16px;
      }
      /* dots descriptions */

      .scopus {
        left: -190px;
        top: 60%;
      }
      .public {
        left: -190px;
        top: 82%;
      }
      .communicating {
        right: -193px;
        top: 15%;
      }
      .online {
        right: -193px;
        top: 82%;
      }
    }
    .labelWithColor {
      margin-bottom: 10px;
    }
    .labelWithColor.binefic-label {
      align-items: start;
    }
    .labelWithColor .labelWithColor-text {
      margin: 0;
    }
    .labelWithColor-square {
      min-width: 15px;
      margin-right: 10px;
    }
  }
}

.research-curation-content {
  display: flex;

  .binefic-chart {
    display: flex;
  }
  .binefic-chart-description-mobile {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .research-curation-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container-researchCuration {
    ul {
      font-size: 14px;
    }
    .sidebar-horizontal-item {
      max-width: 20%;
    }
  }
  .research-curation-content {
    .chart-info {
      display: none;
    }

    .binefic-chart-description-mobile {
      margin-top: 24px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      width: 280px;
      justify-content: flex-start;
      flex-wrap: wrap;

      .binefic-label {
        margin-left: 0;
      }
    }
  }


}

@media screen and (max-width: 576px) {
  .col-binefic {
    padding: 57px 20px 0 20px;
    .binefic-chart {
      flex-direction: column;
      align-items: center;
    }
    .binefic-chart-description-mobile {
      margin-left: 0px;
      
    }
  }
}
